---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>

        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time>

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}

          {{ content }}
          {% if page.notes %}
            <b>notes/{{ page.notes }}</b>
            <object style="width: 100%" class="frame" data="" type="application/pdf">
              <iframe src="https://docs.google.com/viewer?url=../notes/{{page.notes}}&embedded=true"></iframe>
            </object>
            <object width="400" height="500" type="application/pdf" data="../notes/{{page.notes}}">
              <p>Error! Looks like your browser can't displa PDFs. Try using an updated version of Chrome or Firefox.</p>
            </object>
            <object data="../notes/{{page.notes}}" type="application/pdf">
                <embed src="../notes/{{page.notes}}" type="application/pdf" />
            </object>
          {% else %}
            <b style="color:red"> TODO: </b> filler text about how we don't have notes yet
          {% endif %}
          <br>

        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
            <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>

        <hr>

        <!-- uncomment to include disqus! -->
        <!-- {% include disqus.html %} -->

      </article>
    </div>
  </div>
</div>
