---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col' style='width: 100%'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>
          <div class="u-text-center" style="width: 100%">
            <a href={{page.hyperlink}}
              style="color: #00A0FF; font-size: 20px; word-wrap: break-word;">
              {{page.hyperlink}}
            </a>
          </div>
        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>
          {% if page.author %}by {{page.author}}
          <br>{% endif %}
          {{ page.date | date: '%d %b %Y' }}
        </time>

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}
          {{ content }}
          {% if page.notes %}
            <div class="u-text-center" style="width: 100%">
              <a href={{ '/notes/' | append: page.notes | relative_url }}
                style="margin-bottom: 16px">
                [link to notes]
              </a>
            </div>
            <!-- hide notes-inline on mobile -->
            <div class="notes-inline">
              <object width="400" height="500" type="application/pdf" data="{{ '/notes/' | append: page.notes | relative_url }}">
                <p>Error! Looks like your browser can't display PDFs. Try using an updated version of Chrome or Firefox.</p>
              </object>
            </div>
          {% endif %}
          <br>
        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
            {% capture tag_name %} {{ tag }} {% endcapture %}
            <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>

        <hr>

      </article>
    </div>
  </div>
</div>

<style>
  /* Hide notes-inline on mobile */
  @media screen and (max-width: 480px)
  {
      .notes-inline {
        display: none;
      }
  }
</style>
