---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col' style='width: 100%'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>

        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time>

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}

          {{ content }}
          {% if page.notes %}
            <pre>{{ '/notes/' | append: page.notes | relative_url }}</pre>
            <object width="400" height="500" type="application/pdf" data="{{ '/notes/' | append: page.notes | relative_url }}">
              <p>Error! Looks like your browser can't display PDFs. Try using an updated version of Chrome or Firefox.</p>
            </object>
          {% else %}
            <b style="color:red"> TODO: </b> filler text about how we don't have notes yet
          {% endif %}
          <br>

        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
            <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>

        <hr>

        <!-- uncomment to include disqus! -->
        <!-- {% include disqus.html %} -->

      </article>
    </div>
  </div>
</div>
